/* ==================== */
/* Responsividad */
/* ==================== */

/* Esconde el toggle en escritorio, muestra en móvil */
.toggle-btn {
    
    width: 40px;
    height: 45px;
    display: none;
    font-size: 24px;
    background-color: #0660fe;
    color: white;
    padding: 1px;
    border: none;
    border-radius: 10px;
    z-index: 1001;
    cursor: pointer;
    margin-right: 15px; /* Espacio con el título */
  }
  
  /* Sidebar estilo por defecto en escritorio */
.sidebar {
    display: block;
  }





@media (max-width: 768px) {
    
    .logo{
        margin-left: 70px;
        margin-top: 12.5px;
    }

    .header{
        justify-content: center;
        width: max-content;
        padding: 15px 20px;
        margin-inline:5px;
    }
    .content{
        margin-inline:5px;
        
    }

    .toggle-btn  {
            display: block;
        }

    .sidebar {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ecf5fc;
            width: 250px;
            height: 100%;
            z-index: 1000;
            padding: 20px;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            display: block;

        
        }
    
    .sidebar.active {
            display: block;
            transform: translateX(0%);
        }

}
  

/* Contenedor para tabla responsiva */
.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Scroll suave en iOS */
    margin: 0 ;
    padding: 0 ;
}

    

/* Estilos para móviles */
@media (max-width: 768px) {
    .table-responsive {
        border: 1px solid #ddd;
        border-radius: 8px;
    }
    
    .data-table {
        min-width: 800px; /* Ajusta según necesidad */
    }
    
    /* Estilo para el scrollbar */
    .table-responsive::-webkit-scrollbar {
        height: 8px;
    }
    
    .table-responsive::-webkit-scrollbar-thumb {
        background: #3b82f6;
        border-radius: 4px;
    }
    
    /* Ajustar el tamaño de la fuente en la tabla para móviles */
    .data-table th, .data-table td {
        font-size: 12px; /* Reducir el tamaño de la fuente */
        padding: 8px 10px; /* Reducir el padding */
    }
    
    /* Ocultar columnas menos importantes (opcional) */
    .data-table .desktop-only {
        display: none;
    }
}